.container-about-me {
   margin-top: 110px;
    
}

.about-me-text {
    max-width: 1200px; 
    margin: auto; 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.svg-container {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
}

.svg-illustration {
    width: 100%; 
    max-width: 300px;
    height: auto; 
}

h2 {
    color: rgb(109, 175, 197);
    
}

p {
    color: #f0f0f0;
}