.container-contact {
    width: 100%;
    height: 800px; 
    margin: auto; 
    display: flex; 
    justify-content: space-between; 
 
}

.form-container {
    flex: 1; 
    max-width: 50%; 
    background-color: #01190B;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    width:fit-content;
    position: relative;
    padding-top: 75px;
    z-index: 1;
}

.form {  
    position: relative;
    margin-top: 130px;
    width: 25%;
    z-index: 1;

}

.form-control {
    border-radius: 30px;
}

.form textarea::placeholder {
padding-top: 10px;
}

.decorative-rectangle {
    position: absolute;
    top: 240px;
    width: 275px;
    height: 300px;
    background-color:#253C2B ;
    z-index: 0;
    pointer-events: none;
}

/* Circle Rows at Bottom Left Corner */
.circle-row {
    position: absolute;
    display: flex;
    gap: 12px;              
    width: fit-content;
    z-index: 2;              
}

.bottom-row {
    bottom: -22px;          
    left: 0px;
}

.second-bottom-row {
    bottom: -45px;          
    left: 0px;
}

/* Circle Column Going Up Vertically */
.circle-column {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 9px;              
    height: fit-content;
    z-index: 2;             
    bottom: -45px;         
    left: -25px;
}

/* Circle Styling */
.circle-row::before,
.circle-column::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #455E4F;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #455E4F;
}


.contact-me-h2 {
font-size: 29px;
}

.resume-container {
    flex: 1; 
    display: flex;
    flex-direction: column;  
    align-items: center;    
    text-align: center;
    width: fit-content;
    text-align: center; 
    max-width: 50%; 
    background-color: #455E4F;
    position: relative;
    padding-top: 75px;
    

}

.resume-h2 {
    margin-bottom: 20px;       
    font-size: 1.8rem; 
}

.download.btn {
    position: relative;
    background-color: #C0FC95;
    color: black;
    align-items: center;
    border-radius: 35px;
    height: 50px;
    width: 200px;
    transition: background-color 0.3s ease;
    z-index: 1; 
    margin-top: 245px; /*This value may need altering for responsive design*/
}
.download.btn:hover {
    background-color: #c0fc95a8;
}

/* Decorative Oval Behind the Button */
.decorative-oval {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: #051513;
    border-radius: 50%;
    z-index: 0;  
    pointer-events: none; 
}

.btn.submit {
    width: 100%;
    background-color: #C0FC95;
    color: black;
    border-radius: 35px;
    transition: background-color 0.3s ease;
}

.btn.submit:hover {
    background-color: #c0fc95a8;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column; 
        align-items: center;
        
    }

    .form-container, .resume-container {
        max-width: 90%; 
        margin-bottom: 20px;
    }

   
}