section {
   
    margin: 0;
    padding: 0;
}


.container-home {
    background-color: #070E10;
}

html {
    scroll-behavior: smooth; 
    scroll-padding-top: 100px; 
}
section {
    display: block; /* Ensures it's just a plain container without extra behavior */
}